project = "<Project>"
credentials_file = "<credentials>.json"
cidrs = [ "10.0.0.0/16", "10.1.0.0/16" ]
lb-startup = <<EOT
#!/bin/bash
apt update
apt -y install nginx
export HOSTNAME=$(hostname | tr -d '\n')
export PRIVATE_IP=$(curl -sf -H 'Metadata-Flavor:Google' http://metadata/computeMetadata/v1/instance/network-interfaces/0/ip | tr -d '\n')
export ZONE=$(curl -sf -H 'Metadata-Flavor:Google' http://metadata/computeMetadata/v1/instance/zone | tr -d '\n')
echo "Welcome to $HOSTNAME - $PRIVATE_IP - ZONE: $ZONE" > /usr/share/nginx/html/index.html
cp /usr/share/nginx/html/index.html /var/www/html/index.html
service nginx restart
EOT
